In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# train

## train 데이터 불러오기

In [39]:
file_path = "C:/dev/SKN18-2nd-4Team-1/data/"

df_train = pd.read_csv(f"{file_path}train.csv",sep = ',')
df_train.head()

,season,player_name,player_id,goals,assists,yellow_cards,red_cards,season_win_count,season_avg_minutes,club_squad_size,...,foot,height_in_cm,agent_name,season_last_club_position,net_transfer_record,position,sub_position,season_player_played,market_value_in_eur,transfer
0,12/13,Aaron Hughes,3580,0,0,1,0,6,88.125000,25.0,...,right,183.0,CAA Stellar,15.0,€-22.75m,Defender,Centre-Back,24,1500000.0,0
1,12/13,Aaron Lennon,14221,4,8,1,0,20,83.441176,30.0,...,right,165.0,CAA Base Ltd,5.0,€-120.05m,Attack,Right Winger,34,16000000.0,0
2,12/13,Aaron Ramsey,50057,1,4,5,0,20,57.944444,24.0,...,right,178.0,Avid Sports Group,4.0,€-25.11m,Midfield,Central Midfield,36,10000000.0,0
3,12/13,Abdul Razak,177321,0,0,0,0,3,1.000000,28.0,...,right,179.0,UTA & Sports Law,2.0,€-102.00m,Midfield,Central Midfield,3,NaN,0
4,12/13,Abou Diaby,26763,0,0,1,0,5,64.818182,24.0,...,right,191.0,NaN,5.0,€-25.11m,Midfield,Central Midfield,11,4000000.0,0

In [40]:
df_train.columns

Index(['season', 'player_name', 'player_id', 'goals', 'assists',
       'yellow_cards', 'red_cards', 'season_win_count', 'season_avg_minutes',
       'club_squad_size', 'club_average_age', 'club_foreigners_percentage',
       'club_national_team_players', 'player_highest_market_value_in_eur',
       'club_name', 'country_of_birth', 'date_of_birth', 'foot',
       'height_in_cm', 'agent_name', 'season_last_club_position',
       'net_transfer_record', 'position', 'sub_position',
       'season_player_played', 'market_value_in_eur', 'transfer'],
      dtype='object')

In [41]:
df_train.shape

(14873, 27)

## 결측치 확인

In [42]:
print((df_train.isnull().sum()/len(df_train)).sum())
df_train.info()

0.342970483426343
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14873 entries, 0 to 14872
Data columns (total 27 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   season                              14873 non-null  object
 1   player_name                         14873 non-null  object
 2   player_id                           14873 non-null  int64
 3   goals                               14873 non-null  int64
 4   assists                             14873 non-null  int64
 5   yellow_cards                        14873 non-null  int64
 6   red_cards                           14873 non-null  int64
 7   season_win_count                    14873 non-null  int64
 8   season_avg_minutes                  14873 non-null  float64
 9   club_squad_size                     14873 non-null  float64
 10  club_average_age                    14873 non-null  float64
 11  club_foreigners_percentage          14873 non-null  float64
 12  club_national_team_players          14873 non-null  float64
 13  player_highest_market_value_in_eur  14860 non-null  float64
 14  club_name                           14873 non-null  object
 15  country_of_birth                    14668 non-null  object
 16  date_of_birth                       14864 non-null  object
 17  foot                                14755 non-null  object
 18  height_in_cm                        14790 non-null  float64
 19  agent_name                          10365 non-null  object
 20  season_last_club_position           14873 non-null  float64
 21  net_transfer_record                 14873 non-null  object
 22  position                            14873 non-null  object
 23  sub_position                        14873 non-null  object
 24  season_player_played                14873 non-null  int64
 25  market_value_in_eur                 14708 non-null  float64
 26  transfer                            14873 non-null  int64
dtypes: float64(9), int64(8), object(10)
memory usage: 3.1+ MB

## EDA train

In [43]:
from scipy.stats import chi2_contingency

for col in df_train.columns:
    table = pd.crosstab(df_train[col], df_train['transfer'])
    chi2, p, dof, expected = chi2_contingency(table)
    print(col,":", p<0.01)

#df_train의 모든 컬럼(transfer 제외)에 대해
#해당 컬럼 값과 transfer 사이에 **통계적으로 연관성(독립이 아님)**이 있는지 카이제곱 검정을 적용
#결과로 True/False만 출력

season : True
player_name : True
player_id : True
goals : True
assists : True
yellow_cards : True
red_cards : True
season_win_count : True
season_avg_minutes : True
club_squad_size : True
club_average_age : True
club_foreigners_percentage : True
club_national_team_players : True
player_highest_market_value_in_eur : True
club_name : True
country_of_birth : True
date_of_birth : True
foot : False
height_in_cm : True
agent_name : True
season_last_club_position : True
net_transfer_record : True
position : True
sub_position : True
season_player_played : True
market_value_in_eur : True
transfer : True

In [44]:
# 결측치 제거
df_train.isnull().sum()

season                                   0
player_name                              0
player_id                                0
goals                                    0
assists                                  0
yellow_cards                             0
red_cards                                0
season_win_count                         0
season_avg_minutes                       0
club_squad_size                          0
club_average_age                         0
club_foreigners_percentage               0
club_national_team_players               0
player_highest_market_value_in_eur      13
club_name                                0
country_of_birth                       205
date_of_birth                            9
foot                                   118
height_in_cm                            83
agent_name                            4508
season_last_club_position                0
net_transfer_record                      0
position                                 0
sub_position                             0
season_player_played                     0
market_value_in_eur                    165
transfer                                 0
dtype: int64

In [45]:
# 결측치 있는 row 삭제
df_train_drop = df_train.dropna()
df_train_drop.isnull().sum()

season                                0
player_name                           0
player_id                             0
goals                                 0
assists                               0
yellow_cards                          0
red_cards                             0
season_win_count                      0
season_avg_minutes                    0
club_squad_size                       0
club_average_age                      0
club_foreigners_percentage            0
club_national_team_players            0
player_highest_market_value_in_eur    0
club_name                             0
country_of_birth                      0
date_of_birth                         0
foot                                  0
height_in_cm                          0
agent_name                            0
season_last_club_position             0
net_transfer_record                   0
position                              0
sub_position                          0
season_player_played                  0
market_value_in_eur                   0
transfer                              0
dtype: int64

In [46]:
# 라벨 인코딩

import pandas as pd
from sklearn.preprocessing import LabelEncoder

# 제외할 컬럼
exclude_cols = ["player_name", "date_of_birth", "agent_name", "net_transfer_record","country_of_birth"]

# object 컬럼 중에서 제외 대상 빼고 인코딩할 컬럼만 선택
categorical_cols = df_train_drop.select_dtypes(include=["object"]).columns
encode_cols = [col for col in categorical_cols if col not in exclude_cols]

# 원본 복사
df_train_encoded = df_train_drop.copy()

# 라벨 인코딩 적용
label_encoders = {}
for col in encode_cols:
    le = LabelEncoder()
    df_train_encoded[col] = le.fit_transform(df_train_encoded[col].astype(str))
    label_encoders[col] = le  # 필요하다면 나중에 inverse_transform 할 때 사용 가능

print(df_train_encoded.head())

    season         player_name  player_id  goals  assists  yellow_cards  \
0        0        Aaron Hughes       3580      0        0             1
1        0        Aaron Lennon      14221      4        8             1
2        0        Aaron Ramsey      50057      1        4             5
9        0        Adam Lallana      43530      3        6             2
20       0  Aleksandar Kolarov      46156      1        2             5

    red_cards  season_win_count  season_avg_minutes  club_squad_size  ...  \
0           0                 6           88.125000             25.0  ...
1           0                20           83.441176             30.0  ...
2           0                20           57.944444             24.0  ...
9           0                 7           74.633333             30.0  ...
20          0                12           52.550000             28.0  ...

    foot  height_in_cm           agent_name  season_last_club_position  \
0      2         183.0          CAA Stellar                       15.0
1      2         165.0         CAA Base Ltd                        5.0
2      2         178.0    Avid Sports Group                        4.0
9      0         172.0          CAA Stellar                       14.0
20     1         187.0  World Soccer Agency                        2.0

    net_transfer_record position sub_position  season_player_played  \
0              €-22.75m        1            2                    24
1             €-120.05m        0           10                    34
2              €-25.11m        3            1                    36
9              €-80.56m        3            0                    30
20            €-102.00m        1            8                    20

    market_value_in_eur transfer
0             1500000.0        0
1            16000000.0        0
2            10000000.0        0
9             5500000.0        0
20           12500000.0        0

[5 rows x 27 columns]

In [47]:
# country_of_birth 이진 인코딩
df_train_encoded['country_of_birth'] = df_train_encoded['country_of_birth'].fillna('other')  # NaN → 'other'
df_train_encoded['country_england'] = df_train_encoded['country_of_birth'].apply(lambda x: 1 if x.lower() == 'england' else 0)

In [48]:
for col, le in label_encoders.items():
    print(f"\n컬럼: {col}")
    mapping = dict(zip(le.classes_, le.transform(le.classes_)))
    print(mapping)

컬럼: season
{'12/13': np.int64(0), '13/14': np.int64(1), '14/15': np.int64(2), '15/16': np.int64(3), '16/17': np.int64(4), '17/18': np.int64(5), '18/19': np.int64(6), '19/20': np.int64(7), '20/21': np.int64(8), '21/22': np.int64(9), '22/23': np.int64(10), '23/24': np.int64(11)}

컬럼: club_name
{'Arsenal Football Club': np.int64(0), 'Association Football Club Bournemouth': np.int64(1), 'Aston Villa Football Club': np.int64(2), 'Brentford Football Club': np.int64(3), 'Brighton and Hove Albion Football Club': np.int64(4), 'Burnley FC': np.int64(5), 'Cardiff City': np.int64(6), 'Chelsea Football Club': np.int64(7), 'Crystal Palace Football Club': np.int64(8), 'Everton Football Club': np.int64(9), 'Fulham Football Club': np.int64(10), 'Huddersfield Town': np.int64(11), 'Hull City': np.int64(12), 'Leeds United': np.int64(13), 'Leicester City Football Club': np.int64(14), 'Liverpool Football Club': np.int64(15), 'Luton Town': np.int64(16), 'Manchester City Football Club': np.int64(17), 'Manchester United Football Club': np.int64(18), 'Middlesbrough FC': np.int64(19), 'Newcastle United Football Club': np.int64(20), 'Norwich City': np.int64(21), 'Nottingham Forest Football Club': np.int64(22), 'Queens Park Rangers': np.int64(23), 'Reading FC': np.int64(24), 'Sheffield United': np.int64(25), 'Southampton Football Club': np.int64(26), 'Stoke City': np.int64(27), 'Sunderland AFC': np.int64(28), 'Swansea City': np.int64(29), 'Tottenham Hotspur Football Club': np.int64(30), 'Watford FC': np.int64(31), 'West Bromwich Albion': np.int64(32), 'West Ham United Football Club': np.int64(33), 'Wigan Athletic': np.int64(34), 'Wolverhampton Wanderers Football Club': np.int64(35)}

컬럼: foot
{'both': np.int64(0), 'left': np.int64(1), 'right': np.int64(2)}

컬럼: position
{'Attack': np.int64(0), 'Defender': np.int64(1), 'Goalkeeper': np.int64(2), 'Midfield': np.int64(3)}

컬럼: sub_position
{'Attacking Midfield': np.int64(0), 'Central Midfield': np.int64(1), 'Centre-Back': np.int64(2), 'Centre-Forward': np.int64(3), 'Defensive Midfield': np.int64(4), 'Goalkeeper': np.int64(5), 'Left Midfield': np.int64(6), 'Left Winger': np.int64(7), 'Left-Back': np.int64(8), 'Right Midfield': np.int64(9), 'Right Winger': np.int64(10), 'Right-Back': np.int64(11), 'Second Striker': np.int64(12)}

In [49]:
import pandas as pd
from datetime import datetime

# date_of_birth 컬럼을 datetime으로 변환
df_train_encoded["date_of_birth"] = pd.to_datetime(df_train_encoded["date_of_birth"], errors="coerce")

# 현재 연도
current_year = datetime.now().year

# 나이 계산 (출생연도만 사용)
df_train_encoded["age"] = current_year - df_train_encoded["date_of_birth"].dt.year

print(df_train_encoded[["date_of_birth", "age"]].head())

   date_of_birth  age
0     1979-11-08   46
1     1987-04-16   38
2     1990-12-26   35
9     1988-05-10   37
20    1985-11-10   40

In [50]:
drop_cols = ["date_of_birth", "agent_name", "net_transfer_record", "country_of_birth"]

# 컬럼 삭제
df_train_dropped = df_train_encoded.drop(columns=drop_cols)

print(df_train_dropped)

       season         player_name  player_id  goals  assists  yellow_cards  \
0           0        Aaron Hughes       3580      0        0             1
1           0        Aaron Lennon      14221      4        8             1
2           0        Aaron Ramsey      50057      1        4             5
9           0        Adam Lallana      43530      3        6             2
20          0  Aleksandar Kolarov      46156      1        2             5
...       ...                 ...        ...    ...      ...           ...
14868      11        Zeki Amdouni     548729      5        1             2
14869      11        Zeki Amdouni     548729      5        1             2
14870      11         Álex Moreno     193098      2        0             2
14871      11         Álex Moreno     193098      2        0             2
14872      11         Álex Moreno     193098      2        0             2

       red_cards  season_win_count  season_avg_minutes  club_squad_size  ...  \
0              0                 6           88.125000             25.0  ...
1              0                20           83.441176             30.0  ...
2              0                20           57.944444             24.0  ...
9              0                 7           74.633333             30.0  ...
20             0                12           52.550000             28.0  ...
...          ...               ...                 ...              ...  ...
14868          0                 5           58.029412             28.0  ...
14869          0                 5           58.029412             28.0  ...
14870          0                10           49.047619             24.0  ...
14871          0                10           49.047619             24.0  ...
14872          0                10           49.047619             24.0  ...

       foot  height_in_cm  season_last_club_position  position  sub_position  \
0         2         183.0                       15.0         1             2
1         2         165.0                        5.0         0            10
2         2         178.0                        4.0         3             1
9         0         172.0                       14.0         3             0
20        1         187.0                        2.0         1             8
...     ...           ...                        ...       ...           ...
14868     0         185.0                       19.0         0             3
14869     0         185.0                       19.0         0             3
14870     1         179.0                        4.0         1             8
14871     1         179.0                        4.0         1             8
14872     1         179.0                        4.0         1             8

       season_player_played  market_value_in_eur  transfer  country_england  \
0                        24            1500000.0         0                0
1                        34           16000000.0         0                1
2                        36           10000000.0         0                0
9                        30            5500000.0         0                1
20                       20           12500000.0         0                0
...                     ...                  ...       ...              ...
14868                    34           15000000.0         1                0
14869                    34           12000000.0         1                0
14870                    21           10000000.0         1                0
14871                    21           13000000.0         1                0
14872                    21           13000000.0         1                0

       age
0       46
1       38
2       35
9       37
20      40
...    ...
14868   25
14869   25
14870   32
14871   32
14872   32

[10038 rows x 25 columns]

In [51]:
df_train = df_train_dropped

In [52]:
import pandas as pd

# 3️⃣ player_age vs club_average_age
df_train["age_diff_club"] = df_train["age"] - df_train["club_average_age"]
df_train["age_ratio_club"] = df_train["age"] / (df_train["club_average_age"] + 1e-6)  # 0 나눗셈 방지

# 4️⃣ (goals + assists) vs season_win_count
df_train["goal_assist"] = df_train["goals"] + df_train["assists"]
df_train["goal_assist_win_ratio"] = df_train["goal_assist"] / (df_train["season_win_count"] + 1)  # 0회 방지

# 7️⃣ yellowcards vs season_avg_minutes
df_train["yellow_per_minute"] = df_train["yellow_cards"] / (df_train["season_avg_minutes"] + 1)  # 0분 방지

# 확인
print(df_train[[
    "age", "club_average_age", "age_diff_club", "age_ratio_club",
    "goals", "assists", "season_win_count", "goal_assist", "goal_assist_win_ratio",
    "yellow_cards", "season_avg_minutes", "yellow_per_minute"
]].head())

df_train.info()

    age  club_average_age  age_diff_club  age_ratio_club  goals  assists  \
0    46              28.3           17.7        1.625442      0        0
1    38              25.5           12.5        1.490196      4        8
2    35              26.8            8.2        1.305970      1        4
9    37              26.1           10.9        1.417624      3        6
20   40              26.7           13.3        1.498127      1        2

    season_win_count  goal_assist  goal_assist_win_ratio  yellow_cards  \
0                  6            0               0.000000             1
1                 20           12               0.571429             1
2                 20            5               0.238095             5
9                  7            9               1.125000             2
20                12            3               0.230769             5

    season_avg_minutes  yellow_per_minute
0            88.125000           0.011220
1            83.441176           0.011843
2            57.944444           0.084826
9            74.633333           0.026443
20           52.550000           0.093371
<class 'pandas.core.frame.DataFrame'>
Index: 10038 entries, 0 to 14872
Data columns (total 30 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   season                              10038 non-null  int64
 1   player_name                         10038 non-null  object
 2   player_id                           10038 non-null  int64
 3   goals                               10038 non-null  int64
 4   assists                             10038 non-null  int64
 5   yellow_cards                        10038 non-null  int64
 6   red_cards                           10038 non-null  int64
 7   season_win_count                    10038 non-null  int64
 8   season_avg_minutes                  10038 non-null  float64
 9   club_squad_size                     10038 non-null  float64
 10  club_average_age                    10038 non-null  float64
 11  club_foreigners_percentage          10038 non-null  float64
 12  club_national_team_players          10038 non-null  float64
 13  player_highest_market_value_in_eur  10038 non-null  float64
 14  club_name                           10038 non-null  int64
 15  foot                                10038 non-null  int64
 16  height_in_cm                        10038 non-null  float64
 17  season_last_club_position           10038 non-null  float64
 18  position                            10038 non-null  int64
 19  sub_position                        10038 non-null  int64
 20  season_player_played                10038 non-null  int64
 21  market_value_in_eur                 10038 non-null  float64
 22  transfer                            10038 non-null  int64
 23  country_england                     10038 non-null  int64
 24  age                                 10038 non-null  int32
 25  age_diff_club                       10038 non-null  float64
 26  age_ratio_club                      10038 non-null  float64
 27  goal_assist                         10038 non-null  int64
 28  goal_assist_win_ratio               10038 non-null  float64
 29  yellow_per_minute                   10038 non-null  float64
dtypes: float64(13), int32(1), int64(15), object(1)
memory usage: 2.3+ MB

In [53]:
df_train.isnull().sum(), df_train.shape, df_train.head()

(season                                0
 player_name                           0
 player_id                             0
 goals                                 0
 assists                               0
 yellow_cards                          0
 red_cards                             0
 season_win_count                      0
 season_avg_minutes                    0
 club_squad_size                       0
 club_average_age                      0
 club_foreigners_percentage            0
 club_national_team_players            0
 player_highest_market_value_in_eur    0
 club_name                             0
 foot                                  0
 height_in_cm                          0
 season_last_club_position             0
 position                              0
 sub_position                          0
 season_player_played                  0
 market_value_in_eur                   0
 transfer                              0
 country_england                       0
 age                                   0
 age_diff_club                         0
 age_ratio_club                        0
 goal_assist                           0
 goal_assist_win_ratio                 0
 yellow_per_minute                     0
 dtype: int64,
 (10038, 30),
     season         player_name  player_id  goals  assists  yellow_cards  \
 0        0        Aaron Hughes       3580      0        0             1
 1        0        Aaron Lennon      14221      4        8             1
 2        0        Aaron Ramsey      50057      1        4             5
 9        0        Adam Lallana      43530      3        6             2
 20       0  Aleksandar Kolarov      46156      1        2             5

     red_cards  season_win_count  season_avg_minutes  club_squad_size  ...  \
 0           0                 6           88.125000             25.0  ...
 1           0                20           83.441176             30.0  ...
 2           0                20           57.944444             24.0  ...
 9           0                 7           74.633333             30.0  ...
 20          0                12           52.550000             28.0  ...

     season_player_played  market_value_in_eur  transfer  country_england  age  \
 0                     24            1500000.0         0                0   46
 1                     34           16000000.0         0                1   38
 2                     36           10000000.0         0                0   35
 9                     30            5500000.0         0                1   37
 20                    20           12500000.0         0                0   40

     age_diff_club  age_ratio_club  goal_assist  goal_assist_win_ratio  \
 0            17.7        1.625442            0               0.000000
 1            12.5        1.490196           12               0.571429
 2             8.2        1.305970            5               0.238095
 9            10.9        1.417624            9               1.125000
 20           13.3        1.498127            3               0.230769

     yellow_per_minute
 0            0.011220
 1            0.011843
 2            0.084826
 9            0.026443
 20           0.093371

 [5 rows x 30 columns])

In [54]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10038 entries, 0 to 14872
Data columns (total 30 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   season                              10038 non-null  int64
 1   player_name                         10038 non-null  object
 2   player_id                           10038 non-null  int64
 3   goals                               10038 non-null  int64
 4   assists                             10038 non-null  int64
 5   yellow_cards                        10038 non-null  int64
 6   red_cards                           10038 non-null  int64
 7   season_win_count                    10038 non-null  int64
 8   season_avg_minutes                  10038 non-null  float64
 9   club_squad_size                     10038 non-null  float64
 10  club_average_age                    10038 non-null  float64
 11  club_foreigners_percentage          10038 non-null  float64
 12  club_national_team_players          10038 non-null  float64
 13  player_highest_market_value_in_eur  10038 non-null  float64
 14  club_name                           10038 non-null  int64
 15  foot                                10038 non-null  int64
 16  height_in_cm                        10038 non-null  float64
 17  season_last_club_position           10038 non-null  float64
 18  position                            10038 non-null  int64
 19  sub_position                        10038 non-null  int64
 20  season_player_played                10038 non-null  int64
 21  market_value_in_eur                 10038 non-null  float64
 22  transfer                            10038 non-null  int64
 23  country_england                     10038 non-null  int64
 24  age                                 10038 non-null  int32
 25  age_diff_club                       10038 non-null  float64
 26  age_ratio_club                      10038 non-null  float64
 27  goal_assist                         10038 non-null  int64
 28  goal_assist_win_ratio               10038 non-null  float64
 29  yellow_per_minute                   10038 non-null  float64
dtypes: float64(13), int32(1), int64(15), object(1)
memory usage: 2.3+ MB

# valid

## valid 데이터 불러오기

In [26]:
file_path = "C:/dev/SKN18-2nd-4Team-1/data/"

df_valid = pd.read_csv(f"{file_path}valid.csv",sep = ',')
df_valid.head()

,season,player_name,player_id,goals,assists,yellow_cards,red_cards,season_win_count,season_avg_minutes,club_squad_size,...,foot,height_in_cm,agent_name,season_last_club_position,net_transfer_record,position,sub_position,season_player_played,market_value_in_eur,transfer
0,23/24,Aaron Cresswell,92571,0,0,1,0,3,39.272727,27.0,...,left,170.0,Unique Sports Group,9.0,€-98.25m,Defender,Left-Back,11,900000.0,0
1,23/24,Aaron Cresswell,92571,0,0,1,0,3,39.272727,27.0,...,left,170.0,Unique Sports Group,9.0,€-98.25m,Defender,Left-Back,11,900000.0,0
2,23/24,Aaron Hickey,591949,0,0,5,0,2,80.000000,26.0,...,both,185.0,PLG,10.0,€-23.90m,Defender,Right-Back,9,30000000.0,0
3,23/24,Aaron Hickey,591949,0,0,5,0,2,80.000000,26.0,...,both,185.0,PLG,10.0,€-23.90m,Defender,Right-Back,9,30000000.0,0
4,23/24,Aaron Hickey,591949,0,0,5,0,2,80.000000,26.0,...,both,185.0,PLG,10.0,€-23.90m,Defender,Right-Back,9,28000000.0,0

In [ ]:
df_valid.columns, df_valid.shape,

(Index(['season', 'player_name', 'player_id', 'goals', 'assists',
        'yellow_cards', 'red_cards', 'season_win_count', 'season_avg_minutes',
        'club_squad_size', 'club_average_age', 'club_foreigners_percentage',
        'club_national_team_players', 'player_highest_market_value_in_eur',
        'club_name', 'country_of_birth', 'date_of_birth', 'foot',
        'height_in_cm', 'agent_name', 'season_last_club_position',
        'net_transfer_record', 'position', 'sub_position',
        'season_player_played', 'market_value_in_eur', 'transfer'],
       dtype='object'),
 (1442, 27))

In [28]:
print((df_valid.isnull().sum()/len(df_valid)).sum())
df_valid.info()

0.2565880721220527
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1442 entries, 0 to 1441
Data columns (total 27 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   season                              1442 non-null   object
 1   player_name                         1442 non-null   object
 2   player_id                           1442 non-null   int64
 3   goals                               1442 non-null   int64
 4   assists                             1442 non-null   int64
 5   yellow_cards                        1442 non-null   int64
 6   red_cards                           1442 non-null   int64
 7   season_win_count                    1442 non-null   int64
 8   season_avg_minutes                  1442 non-null   float64
 9   club_squad_size                     1442 non-null   float64
 10  club_average_age                    1442 non-null   float64
 11  club_foreigners_percentage          1442 non-null   float64
 12  club_national_team_players          1442 non-null   float64
 13  player_highest_market_value_in_eur  1441 non-null   float64
 14  club_name                           1442 non-null   object
 15  country_of_birth                    1436 non-null   object
 16  date_of_birth                       1442 non-null   object
 17  foot                                1420 non-null   object
 18  height_in_cm                        1430 non-null   float64
 19  agent_name                          1115 non-null   object
 20  season_last_club_position           1442 non-null   float64
 21  net_transfer_record                 1442 non-null   object
 22  position                            1442 non-null   object
 23  sub_position                        1442 non-null   object
 24  season_player_played                1442 non-null   int64
 25  market_value_in_eur                 1440 non-null   float64
 26  transfer                            1442 non-null   int64
dtypes: float64(9), int64(8), object(10)
memory usage: 304.3+ KB

## EDA valid

In [29]:
from scipy.stats import chi2_contingency

for col in df_valid.columns:
    table = pd.crosstab(df_valid[col], df_valid['transfer'])
    chi2, p, dof, expected = chi2_contingency(table)
    print(col,":", p<0.01)

#df_train의 모든 컬럼(transfer 제외)에 대해
#해당 컬럼 값과 transfer 사이에 **통계적으로 연관성(독립이 아님)**이 있는지 카이제곱 검정을 적용
#결과로 True/False만 출력

season : False
player_name : True
player_id : True
goals : True
assists : True
yellow_cards : True
red_cards : False
season_win_count : True
season_avg_minutes : True
club_squad_size : True
club_average_age : True
club_foreigners_percentage : True
club_national_team_players : True
player_highest_market_value_in_eur : True
club_name : True
country_of_birth : True
date_of_birth : True
foot : False
height_in_cm : True
agent_name : True
season_last_club_position : True
net_transfer_record : True
position : False
sub_position : True
season_player_played : True
market_value_in_eur : True
transfer : True

# XGBoost 모델

In [65]:
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# -----------------------------
# 0. 수치형 컬럼만 선택
# -----------------------------
numeric_cols = df_train.select_dtypes(include=['int64', 'float64']).columns.drop('transfer')
X = df_train[numeric_cols]
y = df_train['transfer']

# -----------------------------
# 1. Train/Test 분리
# -----------------------------
X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42,
    stratify=y
)

# -----------------------------
# 2. 불균형 처리 - scale_pos_weight
# -----------------------------
pos = sum(y_train == 1)
neg = sum(y_train == 0)
scale_pos_weight = neg / pos

# -----------------------------
# 3. XGBoost 학습
# -----------------------------
model = XGBClassifier(
    use_label_encoder=False,
    eval_metric='logloss',
    random_state=42,
    scale_pos_weight=scale_pos_weight
)
model.fit(X_train, y_train)

# -----------------------------
# 4. 평가 함수
# -----------------------------
def print_metrics(y_true, y_pred, name="Dataset"):
    acc = accuracy_score(y_true, y_pred)
    prec = precision_score(y_true, y_pred, average='binary')
    rec = recall_score(y_true, y_pred, average='binary')
    f1 = f1_score(y_true, y_pred, average='binary')
    print(f"{name} -> Accuracy: {acc:.4f}, Precision: {prec:.4f}, Recall: {rec:.4f}, F1-score: {f1:.4f}")

# -----------------------------
# 5. Train / Test 평가 + 예측 확률 확인
# -----------------------------
datasets = {
    'Train': (X_train, y_train),
    'Test': (X_test, y_test)
}

for name, (X_set, y_set) in datasets.items():
    # 클래스 예측
    y_pred = model.predict(X_set)
    # transfer=1일 확률 예측
    y_proba = model.predict_proba(X_set)[:, 1] * 100  # 0~1 → % 변환
    print_metrics(y_set, y_pred, name)
    print(f"{name} -> 상위 10개 transfer 확률(%): {y_proba[:10]}")

Train -> Accuracy: 0.9983, Precision: 0.9908, Recall: 1.0000, F1-score: 0.9954
Train -> 상위 10개 transfer 확률(%): [88.71344     3.3540573  95.65091     9.11792     3.3402185   0.40872934
 21.075354    0.6276939   0.1801738  91.41737   ]
Test -> Accuracy: 0.9671, Precision: 0.9039, Recall: 0.9231, F1-score: 0.9134
Test -> 상위 10개 transfer 확률(%): [ 0.6952122 80.60406    0.5533485 92.28517    1.9226726  0.9012823
  8.769211  69.02307    3.129296  25.849586 ]

In [30]:
df_valid.isnull().sum()

season                                  0
player_name                             0
player_id                               0
goals                                   0
assists                                 0
yellow_cards                            0
red_cards                               0
season_win_count                        0
season_avg_minutes                      0
club_squad_size                         0
club_average_age                        0
club_foreigners_percentage              0
club_national_team_players              0
player_highest_market_value_in_eur      1
club_name                               0
country_of_birth                        6
date_of_birth                           0
foot                                   22
height_in_cm                           12
agent_name                            327
season_last_club_position               0
net_transfer_record                     0
position                                0
sub_position                            0
season_player_played                    0
market_value_in_eur                     2
transfer                                0
dtype: int64

In [32]:
df_valid_drop = df_valid.dropna()
df_valid_drop.isnull().sum()

season                                0
player_name                           0
player_id                             0
goals                                 0
assists                               0
yellow_cards                          0
red_cards                             0
season_win_count                      0
season_avg_minutes                    0
club_squad_size                       0
club_average_age                      0
club_foreigners_percentage            0
club_national_team_players            0
player_highest_market_value_in_eur    0
club_name                             0
country_of_birth                      0
date_of_birth                         0
foot                                  0
height_in_cm                          0
agent_name                            0
season_last_club_position             0
net_transfer_record                   0
position                              0
sub_position                          0
season_player_played                  0
market_value_in_eur                   0
transfer                              0
dtype: int64

In [33]:
# 라벨 인코딩

import pandas as pd
from sklearn.preprocessing import LabelEncoder

# 제외할 컬럼
exclude_cols = ["player_name", "date_of_birth", "agent_name", "net_transfer_record","country_of_birth"]

# object 컬럼 중에서 제외 대상 빼고 인코딩할 컬럼만 선택
categorical_cols = df_valid_drop.select_dtypes(include=["object"]).columns
encode_cols = [col for col in categorical_cols if col not in exclude_cols]

# 원본 복사
df_valid_encoded = df_valid_drop.copy()

# 라벨 인코딩 적용
label_encoders = {}
for col in encode_cols:
    le = LabelEncoder()
    df_valid_encoded[col] = le.fit_transform(df_valid_encoded[col].astype(str))
    label_encoders[col] = le  # 필요하다면 나중에 inverse_transform 할 때 사용 가능

print(df_valid_encoded.head())

   season      player_name  player_id  goals  assists  yellow_cards  \
0       0  Aaron Cresswell      92571      0        0             1
1       0  Aaron Cresswell      92571      0        0             1
2       0     Aaron Hickey     591949      0        0             5
3       0     Aaron Hickey     591949      0        0             5
4       0     Aaron Hickey     591949      0        0             5

   red_cards  season_win_count  season_avg_minutes  club_squad_size  ...  \
0          0                 3           39.272727             27.0  ...
1          0                 3           39.272727             27.0  ...
2          0                 2           80.000000             26.0  ...
3          0                 2           80.000000             26.0  ...
4          0                 2           80.000000             26.0  ...

   foot  height_in_cm           agent_name  season_last_club_position  \
0     1         170.0  Unique Sports Group                        9.0
1     1         170.0  Unique Sports Group                        9.0
2     0         185.0                  PLG                       10.0
3     0         185.0                  PLG                       10.0
4     0         185.0                  PLG                       10.0

   net_transfer_record position sub_position  season_player_played  \
0             €-98.25m        1            8                    11
1             €-98.25m        1            8                    11
2             €-23.90m        1           11                     9
3             €-23.90m        1           11                     9
4             €-23.90m        1           11                     9

   market_value_in_eur transfer
0             900000.0        0
1             900000.0        0
2           30000000.0        0
3           30000000.0        0
4           28000000.0        0

[5 rows x 27 columns]

In [34]:
# country_of_birth 이진 인코딩
df_valid_encoded['country_of_birth'] = df_valid_encoded['country_of_birth'].fillna('other')  # NaN → 'other'
df_valid_encoded['country_england'] = df_valid_encoded['country_of_birth'].apply(lambda x: 1 if x.lower() == 'england' else 0)

In [35]:
for col, le in label_encoders.items():
    print(f"\n컬럼: {col}")
    mapping = dict(zip(le.classes_, le.transform(le.classes_)))
    print(mapping)

컬럼: season
{'23/24': np.int64(0)}

컬럼: club_name
{'Arsenal Football Club': np.int64(0), 'Association Football Club Bournemouth': np.int64(1), 'Aston Villa Football Club': np.int64(2), 'Brentford Football Club': np.int64(3), 'Brighton and Hove Albion Football Club': np.int64(4), 'Burnley FC': np.int64(5), 'Chelsea Football Club': np.int64(6), 'Crystal Palace Football Club': np.int64(7), 'Everton Football Club': np.int64(8), 'Fulham Football Club': np.int64(9), 'Liverpool Football Club': np.int64(10), 'Luton Town': np.int64(11), 'Manchester City Football Club': np.int64(12), 'Manchester United Football Club': np.int64(13), 'Newcastle United Football Club': np.int64(14), 'Nottingham Forest Football Club': np.int64(15), 'Sheffield United': np.int64(16), 'Tottenham Hotspur Football Club': np.int64(17), 'West Ham United Football Club': np.int64(18), 'Wolverhampton Wanderers Football Club': np.int64(19)}

컬럼: foot
{'both': np.int64(0), 'left': np.int64(1), 'right': np.int64(2)}

컬럼: position
{'Attack': np.int64(0), 'Defender': np.int64(1), 'Goalkeeper': np.int64(2), 'Midfield': np.int64(3)}

컬럼: sub_position
{'Attacking Midfield': np.int64(0), 'Central Midfield': np.int64(1), 'Centre-Back': np.int64(2), 'Centre-Forward': np.int64(3), 'Defensive Midfield': np.int64(4), 'Goalkeeper': np.int64(5), 'Left Midfield': np.int64(6), 'Left Winger': np.int64(7), 'Left-Back': np.int64(8), 'Right Midfield': np.int64(9), 'Right Winger': np.int64(10), 'Right-Back': np.int64(11), 'Second Striker': np.int64(12)}

In [36]:
import pandas as pd
from datetime import datetime

# date_of_birth 컬럼을 datetime으로 변환
df_valid_encoded["date_of_birth"] = pd.to_datetime(df_valid_encoded["date_of_birth"], errors="coerce")

# 현재 연도
current_year = datetime.now().year

# 나이 계산 (출생연도만 사용)
df_valid_encoded["age"] = current_year - df_valid_encoded["date_of_birth"].dt.year

print(df_valid_encoded[["date_of_birth", "age"]].head())

  date_of_birth  age
0    1989-12-15   36
1    1989-12-15   36
2    2002-06-10   23
3    2002-06-10   23
4    2002-06-10   23

In [57]:
drop_cols = ["date_of_birth", "agent_name", "net_transfer_record", "country_of_birth"]
# 컬럼 삭제
df_valid_dropped = df_valid_encoded.drop(columns=drop_cols)

In [58]:
print(df_valid_dropped)

      season      player_name  player_id  goals  assists  yellow_cards  \
0          0  Aaron Cresswell      92571      0        0             1
1          0  Aaron Cresswell      92571      0        0             1
2          0     Aaron Hickey     591949      0        0             5
3          0     Aaron Hickey     591949      0        0             5
4          0     Aaron Hickey     591949      0        0             5
...      ...              ...        ...    ...      ...           ...
1437       0     Zeki Amdouni     548729      5        1             2
1438       0     Zeki Amdouni     548729      5        1             2
1439       0      Álex Moreno     193098      2        0             2
1440       0      Álex Moreno     193098      2        0             2
1441       0      Álex Moreno     193098      2        0             2

      red_cards  season_win_count  season_avg_minutes  club_squad_size  ...  \
0             0                 3           39.272727             27.0  ...
1             0                 3           39.272727             27.0  ...
2             0                 2           80.000000             26.0  ...
3             0                 2           80.000000             26.0  ...
4             0                 2           80.000000             26.0  ...
...         ...               ...                 ...              ...  ...
1437          0                 5           58.029412             28.0  ...
1438          0                 5           58.029412             28.0  ...
1439          0                10           49.047619             24.0  ...
1440          0                10           49.047619             24.0  ...
1441          0                10           49.047619             24.0  ...

      foot  height_in_cm  season_last_club_position  position  sub_position  \
0        1         170.0                        9.0         1             8
1        1         170.0                        9.0         1             8
2        0         185.0                       10.0         1            11
3        0         185.0                       10.0         1            11
4        0         185.0                       10.0         1            11
...    ...           ...                        ...       ...           ...
1437     0         185.0                       19.0         0             3
1438     0         185.0                       19.0         0             3
1439     1         179.0                        4.0         1             8
1440     1         179.0                        4.0         1             8
1441     1         179.0                        4.0         1             8

      season_player_played  market_value_in_eur  transfer  country_england  \
0                       11             900000.0         0                1
1                       11             900000.0         0                1
2                        9           30000000.0         0                0
3                        9           30000000.0         0                0
4                        9           28000000.0         0                0
...                    ...                  ...       ...              ...
1437                    34           15000000.0         1                0
1438                    34           12000000.0         1                0
1439                    21           10000000.0         1                0
1440                    21           13000000.0         1                0
1441                    21           13000000.0         1                0

      age
0      36
1      36
2      23
3      23
4      23
...   ...
1437   25
1438   25
1439   32
1440   32
1441   32

[1085 rows x 25 columns]

In [59]:
df_valid = df_valid_dropped

In [61]:
import pandas as pd

# 3️⃣ player_age vs club_average_age
df_valid["age_diff_club"] = df_valid["age"] - df_valid["club_average_age"]
df_valid["age_ratio_club"] = df_valid["age"] / (df_valid["club_average_age"] + 1e-6)  # 0 나눗셈 방지

# 4️⃣ (goals + assists) vs season_win_count
df_valid["goal_assist"] = df["goals"] + df_valid["assists"]
df_valid["goal_assist_win_ratio"] = df_valid["goal_assist"] / (df_valid["season_win_count"] + 1)  # 0회 방지

# 7️⃣ yellowcards vs season_avg_minutes
df_valid["yellow_per_minute"] = df_valid["yellow_cards"] / (df_valid["season_avg_minutes"] + 1)  # 0분 방지

# 확인
print(df_valid[[
    "age", "club_average_age", "age_diff_club", "age_ratio_club",
    "goals", "assists", "season_win_count", "goal_assist", "goal_assist_win_ratio",
    "yellow_cards", "season_avg_minutes", "yellow_per_minute"
]].head())

df_valid.info

   age  club_average_age  age_diff_club  age_ratio_club  goals  assists  \
0   36              28.5            7.5        1.263158      0        0
1   36              28.5            7.5        1.263158      0        0
2   23              25.4           -2.4        0.905512      0        0
3   23              25.4           -2.4        0.905512      0        0
4   23              25.4           -2.4        0.905512      0        0

   season_win_count  goal_assist  goal_assist_win_ratio  yellow_cards  \
0                 3          0.0               0.000000             1
1                 3          4.0               1.000000             1
2                 2          1.0               0.333333             5
3                 2          NaN                    NaN             5
4                 2          NaN                    NaN             5

   season_avg_minutes  yellow_per_minute
0           39.272727           0.024831
1           39.272727           0.024831
2           80.000000           0.061728
3           80.000000           0.061728
4           80.000000           0.061728

<bound method DataFrame.info of       season      player_name  player_id  goals  assists  yellow_cards  \
0          0  Aaron Cresswell      92571      0        0             1
1          0  Aaron Cresswell      92571      0        0             1
2          0     Aaron Hickey     591949      0        0             5
3          0     Aaron Hickey     591949      0        0             5
4          0     Aaron Hickey     591949      0        0             5
...      ...              ...        ...    ...      ...           ...
1437       0     Zeki Amdouni     548729      5        1             2
1438       0     Zeki Amdouni     548729      5        1             2
1439       0      Álex Moreno     193098      2        0             2
1440       0      Álex Moreno     193098      2        0             2
1441       0      Álex Moreno     193098      2        0             2

      red_cards  season_win_count  season_avg_minutes  club_squad_size  ...  \
0             0                 3           39.272727             27.0  ...
1             0                 3           39.272727             27.0  ...
2             0                 2           80.000000             26.0  ...
3             0                 2           80.000000             26.0  ...
4             0                 2           80.000000             26.0  ...
...         ...               ...                 ...              ...  ...
1437          0                 5           58.029412             28.0  ...
1438          0                 5           58.029412             28.0  ...
1439          0                10           49.047619             24.0  ...
1440          0                10           49.047619             24.0  ...
1441          0                10           49.047619             24.0  ...

      season_player_played  market_value_in_eur  transfer  country_england  \
0                       11             900000.0         0                1
1                       11             900000.0         0                1
2                        9           30000000.0         0                0
3                        9           30000000.0         0                0
4                        9           28000000.0         0                0
...                    ...                  ...       ...              ...
1437                    34           15000000.0         1                0
1438                    34           12000000.0         1                0
1439                    21           10000000.0         1                0
1440                    21           13000000.0         1                0
1441                    21           13000000.0         1                0

      age  age_diff_club  age_ratio_club  goal_assist  goal_assist_win_ratio  \
0      36            7.5        1.263158          0.0               0.000000
1      36            7.5        1.263158          4.0               1.000000
2      23           -2.4        0.905512          1.0               0.333333
3      23           -2.4        0.905512          NaN                    NaN
4      23           -2.4        0.905512          NaN                    NaN
...   ...            ...             ...          ...                    ...
1437   25            0.2        1.008064          9.0               1.500000
1438   25            0.2        1.008064          9.0               1.500000
1439   32            4.3        1.155235          8.0               0.727273
1440   32            4.3        1.155235          4.0               0.363636
1441   32            4.3        1.155235          4.0               0.363636

      yellow_per_minute
0              0.024831
1              0.024831
2              0.061728
3              0.061728
4              0.061728
...                 ...
1437           0.033881
1438           0.033881
1439           0.039962
1440           0.039962
1441           0.039962

[1085 rows x 30 columns]>

In [62]:
df_valid.isnull().sum(), df_valid.shape, df_valid.head()

(season                                  0
 player_name                             0
 player_id                               0
 goals                                   0
 assists                                 0
 yellow_cards                            0
 red_cards                               0
 season_win_count                        0
 season_avg_minutes                      0
 club_squad_size                         0
 club_average_age                        0
 club_foreigners_percentage              0
 club_national_team_players              0
 player_highest_market_value_in_eur      0
 club_name                               0
 foot                                    0
 height_in_cm                            0
 season_last_club_position               0
 position                                0
 sub_position                            0
 season_player_played                    0
 market_value_in_eur                     0
 transfer                                0
 country_england                         0
 age                                     0
 age_diff_club                           0
 age_ratio_club                          0
 goal_assist                           571
 goal_assist_win_ratio                 571
 yellow_per_minute                       0
 dtype: int64,
 (1085, 30),
    season      player_name  player_id  goals  assists  yellow_cards  \
 0       0  Aaron Cresswell      92571      0        0             1
 1       0  Aaron Cresswell      92571      0        0             1
 2       0     Aaron Hickey     591949      0        0             5
 3       0     Aaron Hickey     591949      0        0             5
 4       0     Aaron Hickey     591949      0        0             5

    red_cards  season_win_count  season_avg_minutes  club_squad_size  ...  \
 0          0                 3           39.272727             27.0  ...
 1          0                 3           39.272727             27.0  ...
 2          0                 2           80.000000             26.0  ...
 3          0                 2           80.000000             26.0  ...
 4          0                 2           80.000000             26.0  ...

    season_player_played  market_value_in_eur  transfer  country_england  age  \
 0                    11             900000.0         0                1   36
 1                    11             900000.0         0                1   36
 2                     9           30000000.0         0                0   23
 3                     9           30000000.0         0                0   23
 4                     9           28000000.0         0                0   23

    age_diff_club  age_ratio_club  goal_assist  goal_assist_win_ratio  \
 0            7.5        1.263158          0.0               0.000000
 1            7.5        1.263158          4.0               1.000000
 2           -2.4        0.905512          1.0               0.333333
 3           -2.4        0.905512          NaN                    NaN
 4           -2.4        0.905512          NaN                    NaN

    yellow_per_minute
 0           0.024831
 1           0.024831
 2           0.061728
 3           0.061728
 4           0.061728

 [5 rows x 30 columns])

In [ ]:
# valid 데이터 준비
numeric_cols = df_valid.select_dtypes(include=['int64', 'float64']).columns.drop('transfer')
X_valid = df_valid[numeric_cols]
y_valid = df_valid['transfer']

# valid 데이터 예측
y_pred_valid = model.predict(X_valid)

# 평가
print_metrics(y_valid, y_pred_valid, name="Validation")

Validation -> Accuracy: 0.7733, Precision: 0.9375, Recall: 0.2727, F1-score: 0.4225

In [66]:
import pandas as pd
import os

# -----------------------------
# 0. 저장 경로
# -----------------------------
save_dir = r"C:\dev\SKN18-2nd-4Team-1\data"
os.makedirs(save_dir, exist_ok=True)
save_path = os.path.join(save_dir, "valid_player_proba.csv")

# -----------------------------
# 1. 예측 수행
# -----------------------------
y_proba_valid = model.predict_proba(X_valid)[:, 1] * 100  # % 단위

# -----------------------------
# 2. player_name + 예측 확률만 추출
# -----------------------------
df_valid_player_proba = pd.DataFrame({
    'player_name': df_valid['player_name'],
    'transfer_proba(%)': y_proba_valid
})

# -----------------------------
# 3. CSV 저장
# -----------------------------
df_valid_player_proba.to_csv(save_path, index=False)
print(f"Valid 데이터 player_name + 예측 확률이 {save_path}로 저장되었습니다.")

Valid 데이터 player_name + 예측 확률이 C:\dev\SKN18-2nd-4Team-1\data\valid_player_proba.csv로 저장되었습니다.